<!DOCTYPE html>

<html>

<head>
    <style type="text/css">
        body {
        margin: 0;
        padding: 0; 
        position: absolute;
        transform: translate(-17%, -17%);
        width: 1140px;
        top: 30%;
        left: 50%;
        }
    
    </style>

    <title> <%= title %> </title>
    <link rel='stylesheet' type="text/css" href='style.css'>
</head>

<body>

<h1>This is a test page</h1>

    <p>
        <%= firstName %>
        <%= lastName %>
        <%= address %>
    </p>

</body>

</html>