<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Exercise 5.2 - The Proxy Pattern</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <!-- jquery Reference Library -->
    <script
      type="text/javascript"
      src="https://gc.kis.v2.scr.kaspersky-labs.com/5DACB2B0-5003-6543-8B39-D8EE6E4FC44C/main.js"
      charset="UTF-8"
    ></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  
  <body>

    <nav class = 'navbar navbar-dark bg-dark'>
        <a href='#' class = 'navbar-brand'>Home</a>
    </nav>

    <br><br>

   <div role='main' class = 'contaienr'>
       <br><br>
       <h2>Sports List</h2>

        <% if (sports.length > 0) { %>

            
          <% for (var i = 0; i < sports.length; i++) { %>
            <div class='alert alert-success'><strong><%= sports[i] %></strong></div>

          <%}%>
        <%}%>

   </div>


  </body>
</html>