<% include header %>
<% include navbar %>

<div role="main" class="home">

    <br/>

    <h2 class = 'homeh2'><%= title %>!</h2>

</div>

<section class='home-1'>
    <div>

       <h3>Access Your Employee's Records</h3>
       <button class='home-btn' onClick='location.href= "http://localhost:3000/list"'>Click Here</button>

       <br/> 

       <h3>Add Employee Records</h3>
       <button class='home-btn' onClick='location.href= "http://localhost:3000/new"'>Click Here</button>

    </div>
</section>

<% include footer %>
<% include script %>