<% include header %>
<% include navbar %>

<h2>Employee Records</h2><br>

<section class='employee-records'>
    <p>
        Find all employee information listed below:
    </p>
</section>

<div class = 'table-div'>
    <div class='table'>
        <table>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>johndoe@email.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jane</td>
            <td>Doe</td>
            <td>janedoe@email.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chuck</td>
            <td>Norris</td>
            <td>chucknorris@email.com</td>
        </tr>
        </table>
    </div>
</div>

    
    <% include footer %>
    <% include script %>