<div class='nav-div'>
  <nav>
    <ul class='main-nav'>
      <li>
        <a class="nav-link" href="http://localhost:3000/">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/list">List of Employee's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/new">New Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/about">About</a>
      </li>
    </ul>
  </nav>
</div>