<% include header %>
<% include navbar %>

<h2>Add New Employee Data</h2><br>

<div class = 'input' >
    <input type='text' id='firstName' placeholder= 'First Name'>
    <input type='text' id='lastName' placeholder= 'Last Name'>
    <input type='text' id='ID' placeholder= 'Employee ID'>
    <button type='button' class="btn-primary">Add Data</button>
</div>


<% include footer %>
<% include script %>