<% include header %>
<% include navbar %>

<div role='main' class='contaienr'>

    <br/><br/>

    <h2>Employee Details</h2>
    <br/>

    <div role = 'main' class = 'container' style = 'width: 50%'>
        <div class='form-group'>
            <label for='firstName'>First Name</label>
            <input type='text' class='form-control' id='firstName'
            readonly
            value='<%= employee[0].first %>'
            name='firstName'
            />
        <a href="/">&larr; OK</a>
    </div>
</div>

<% include footer %>
<% include script %>